<div class="container3">

    <div class="container4">

        <h1> Estante de Livros </h1>

    </div>

    <div class="container6">

        <a  href="/livros/adicionar" class="adicionar"> Adicionar novo Livro </a>

    </div>

    <ul>

        {{#each livros}}
        
        <li>

            <img src="{{capa}}" alt="Capa de {{nome}}" style="border-radius: 5px;">

            <br>
        
            {{nome}} | {{ano_publicacao}} | {{nome_autor}} | {{#if lido}}Lido{{else}}Não lido{{/if}} | {{estrelas}} 

            <br> <br>

            <div class="botoes">

                <div class="container5">

                    <a href="/livros/{{id}}/personalizar"> Personalizar </a> 

                </div>
                
                <br> <br>

                <div class="container5">

                    <a href="/livros/{{id}}/apagar"> Apagar </a>
                </div>

            </div>

        </li>

        {{/each}}

    </ul>

</div>