<div class="container2">

    <h1> Editar livro: </h1>

    <form method="POST" action="/livros/{{livro.id}}/personalizar">

        <label for="nome"> Nome do livro: </label>
        <input type="text" id="nome" name="nome" value="{{livro.nome}}" required>
    

        <label for="nome"> Ano de publicação: 
        <input type="number" id="ano_publicacao" name="ano_publicacao" value="{{livro.ano_publicacao}}" required>
        </label>

        <label for="nome"> Nome do autor: 
        <input type="text" id="nome_autor" name="nome_autor" value="{{livro.nome_autor}}" required>
        </label>

        <label>
            <input type="checkbox" name="lido" {{#if livro.lido}}checked{{/if}}> Lido
        </label>

        <label for="estrelas"> Estrelas: 
        <input type="number" id="estrelas" name="estrelas" value="{{livro.estrelas}}" min="0" max="5" required>
        </label>

        <label for="capa"> Capa: 
        <input type="file" id="capa" name="capa" value="{{livro.capa}}" accept="image/*" required>
        </label>

        <button type="submit"> Salvar </button>

    </form>

</div>